version: "3.8"

services:
  db:
    restart: always
    image: mysql:8.0
    volumes:
      - ./db/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - ./db/conf.d:/etc/mysql/conf.d
    container_name: himo_db
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 4306:3306
  outgame:
    build:
      context: .
      dockerfile: Dockerfile.dev
    entrypoint: "air"
    env_file: ./.envrc.docker.local
    volumes:
      - .:/himo-outgame
      - bin:/himo-outgame/bin
    ports:
      - "5502:5502"
  outgame-grpcui:
    depends_on:
      - outgame
    image: fullstorydev/grpcui
    command: "-plaintext outgame:5502"
    ports:
      - "10080:8080"
volumes:
  bin:
